<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>BeeMaiList</title>
</head>
<body>
    
    <div id="app">
        <h1>Le tue <span>{{n}}</span> email random:</h1>
        <main>

            <!-- Bonus: Far comparire gli indirizzi email solamente quando sono stati tutti generati. -->
            <ul v-if="emailList.length === n">
                <li v-for="email in emailList">{{email}}</li>
            </ul>
        </main>
       
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>
</html>